body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Button {
  margin-left: 80%;
  margin-top: 25px;
  margin-bottom: 15px;
}

.ButtonHolder {
  text-align: center;
  padding: 15px;
}

.NewItem {
  padding: 15px;
  border: 3px solid #d76fbb;
}

button {
  background-color: #387e3a;
  border: 1px solid #000000;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 150px 50px;
  cursor: pointer;
}

input {
  background-color: #387e3a;
  border: 1px solid #000000;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 150px 50px;
  cursor: pointer;
}

.Header{
  border: 3px solid #d76fbb;
  font-size: 16px;
  text-align: center;
}
.Header:hover{
  border: 4px solid #df23ad;
}

